* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.header {
  width: 70%;
  height: 20%;
  align-items: center;
  text-align: center;
}
.content {
  width: 90%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.icon {
  width: 20px;
  height: 20px;
  background-color: purple;
  border-radius: 50%;
  text-align: center;
  padding-top: 3px;
  color: antiquewhite;
}
.card {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  height: 45%;
  border: 2px black solid;
  border-radius: 5%;
  text-align:left;
  flex-direction: column;
}
@media (max-width: 800px) {
  .container {
  }

  .content {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .card {
    width: 100%;
    margin-top: 10px;
  }
  .header{ 
    font-size: 13px;
}
