form {
  width: 50vw;
  height: 70vh;
}
.group {
  display: flex;
  flex-direction: column;
  color: darkgrey;
}
input {
  height: 25px;
}
.btn {
  width: 100%;
  height: 35px;
  background-color: blue;
  border: none;
  border-radius: 5px;
}
