.container {
  height: 50vh;
  background-color: aqua;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
}
.item {
  background-color: yellow;
  text-align: center;
  border: 1px black solid;
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.item2 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}
.item5 {
  grid-column-start: 1;
  grid-column-end: 4;
}
